@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>DropDownListFor - Example</h2>
    <p class="lead">Example usage of using the DropDown helper</p>
    <p><a href="/product/create" class="btn btn-primary btn-large">Add Product &raquo;</a></p>

</div>

<div class="row">

</div>